img{
  width: 200px;
  height: 200px;
  border: 5px solid #555;
  border-radius: 50%;
}

#card{
   background-color: aquamarine;
   width: auto;
   border-bottom: 10px solid rgb(0, 96, 64);
   border-top: 10px solid rgb(0, 96, 64);
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, aquamarine 0px 4px 6px -1px, aquamarine 0px 1px 0px inset;
}
*{
  font-family: 'Oswald', sans-serif;
}